@* p.44 [Auto] スキャフォールディングで自動生成 *@
@* p.71 Create.cshtmlページ *@
@model SampleMvc.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- p.72 Formタグを生成する -->
        <form asp-action="Create">
        @* ↓HTML変換後 
        <form action="/people/Create" method="post">
        *@

            <!--  -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* p.73 入力項目を表示する *@
            <!-- 名前 -->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span  asp-validation-for="Name" class="text-danger"></span>

                @* ↓HTML変換後 
                <label class="control-label" for="Name">名前</label>
                <input class="form-control" type="text" data-val="true" data-val-required="The 名前 field is required." id="Name" name="Name" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                *@
            </div>

            <!-- 年齢 -->
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span  asp-validation-for="Age" class="text-danger"></span>

                @* ↓HTML変換後 
                <label class="control-label" for="Age">年齢</label>
                <input class="form-control" type="number" data-val="true" data-val-required="The 年齢 field is required." id="Age" name="Age" value="" />
                <input name="__Invariant" type="hidden" value="Age" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Age" data-valmsg-replace="true"></span>
                *@
            </div>

            <!-- Createボタン -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* クライアントサイドの検証用JavaScript *@
@* ※Modelクラスに検証属性を付けることにより、クライアントサイドでの検証を行うことができる。 *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
